/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
header.fl-theme-builder-header-shrink .advSearch > .fl-module-content {
  margin-top: 18px !important;
}

header.fl-theme-builder-header-shrink
  .main-menu
  .uabb-creative-menu
  .menu
  > li {
  margin-top: 7px !important;
  margin-bottom: 0px !important;
}

.home-page-slider .fl-slide div.fl-slide-photo-wrap,
.home-page-slider .fl-slide div.fl-slide-content-wrap {
  width: 100% !important;
}
.fl-slide-3 .fl-slide-content {
  display: none !important;
}
.bx-wrapper .bx-controls-auto,
.bx-wrapper .bx-pager {
  bottom: 20px !important;
}
div.bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
}

.active-gallery-modal .product-box a:hover {
  color: #fff !important;
}
/* .uabb-ih-item img.uabb-ih-image{
	height: 300px;
} */
.fl-module-ihover ~ .fl-module-heading h4.fl-heading {
  font-weight: 700;
}

.active-gallery-modal .product-box a:hover span {
  color: #fff !important;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #323232;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #69bbbc !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #69bbbc !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Raleway",sans-serif  !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #33565f !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #33565f !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #69bbbc !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #33565f !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #33565f !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #69bbbc !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Raleway",sans-serif  !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #33565f !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #33565f !important;
}

@media (min-width: 1400px) {
  .home-new-banner {
    height: calc(100vh - 183px);
  }
}
.storename {
  padding: 0px;
  list-style: none;
}

.storename p,
.storename span {
  margin: 0px !important;
  color: #fff;
}
.responsive-shop-at-home {
  display: none;
}
#shop-at-home-popup-overlay .uabb-content {
  padding-top: 80px !important;
}
#shop-at-home-popup-overlay .uabb-content .uabb-modal-title-wrap {
  padding-right: 0px !important;
}

#shop-at-home-popup-overlay .uabb-content .uabb-modal-text {
  margin-top: 0px !important;
}

#shop-at-home-popup-overlay .uabb-content .fl-button {
  padding: 12px 24px !important;
  color: #fff !important;
  margin-top: 40px !important;
  display: inline-block !important;
  text-decoration: none !important;
}

ul.store-opening-hrs {
  list-style: none;
  padding: 0px;
}

.uabb-infobox-text > p {
  font-weight: 300 !important;
}

.bhf-ffixed-header-fixer {
  display: none !important;
}
.bhf-sticky-header .bhf-fixed {
  position: inherit;
}
.bhf-sticky-header.bhf-shrink-header .bhf-fixed .fl-row-content-wrap {
  padding-top: 0;
  padding-bottom: 0;
}
.bhf-shrink-header .bhf-fixed .fl-module-content.fl-node-content img {
  max-height: inherit;
}
.facet-gap-remove-wrap .fl-rich-text > br {
  display: none;
}
.searchHeader {
  z-index: 11 !important;
}
/* .fl-builder-content .fl-module-content-slider .fl-slide:not(.fl-slide-0, .fl-slide-1) .fl-slide-content,
.home-page-slider .fl-slide .fl-slide-content-wrap .fl-slide-content,
.home-page-slider .fl-slide div.fl-slide-content-wrap .fl-slide-content{
    height: 650px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
} */
.fl-slide-content .fl-slide-cta-button .fl-button-wrap a {
  font-size: 20px;
  padding: 13px 35px;
}
.fl-slide-content .fl-slide-cta-button .fl-button-wrap a span {
  text-transform: uppercase;
  font-weight: 600 !important;
  color: #fff !important;
}
.fl-slide-content {
  height: 600px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 0 !important;
}
.fl-slide-0 .fl-slide-content,
.fl-slide-1 .fl-slide-content {
  height: auto !important;
}
.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
  border-radius: 20px;
  -o-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.menu-header-wrap
  .uabb-creative-menu.uabb-menu-default
  .menu
  > li
  > .uabb-has-submenu-container
  > a
  > span:after {
  content: "\f078";
  font-family: "FontAwesome";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  vertical-align: top;
  margin: 0px 0 0 5px;
  font-weight: 300;
}
.main-menu .uabb-creative-menu .menu > li.sticky-menu-link {
  display: none;
}
.main-menu .uabb-creative-menu .menu > li.sticky-menu-link {
  display: none;
}
.fl-page-header-fixed .menu > li.sticky-menu-link {
  display: inline-block;
}
.header-phone-number .fl-html i,
.fl-page-header-fixed .menu > li.sticky-menu-link i {
  color: #000;
  margin-right: 5px;
  margin-top: 5px;
  vertical-align: -3px;
  font-size: 24px;
}
.fl-page-header-fixed .menu > li.sticky-menu-link i {
  font-size: 18px;
}
.header-phone-number .fl-html .phone.retailer,
.fl-page-header-fixed .menu > li.sticky-menu-link .phone.retailer {
  color: #000;
}
.header-phone-number .fl-html .phone.retailer span {
  font-size: 18px;
}
.fl-page-header-fixed .menu > li.sticky-menu-link .header_store {
  padding: 8px 10px;
}
.fl-page-header-fixed .menu > li.sticky-menu-link .phone.retailer span {
  font-size: 16px;
}

.fl-node-5cc20a627d66d .uabb-creative-menu.uabb-menu-default .menu > li > a,
.fl-node-5cc20a627d66d
  .uabb-creative-menu.uabb-menu-default
  .menu
  > li
  > .uabb-has-submenu-container
  > a {
  padding-left: 5px !important;
}
#field_3_2 {
  padding-right: 0px;
}
.top-bar-left-sec .storename .phone a::before {
  content: "\f1f8";
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  font-size: 20px;
  color: #fff;
}
.top-bar a:hover,
.top-bar a span:hover {
  color: #000 !important;
}
.review-slider .bx-pager.bx-default-pager {
  display: none;
}
.button-reviews .uabb-button {
  border-radius: 25px !important;
}
footer a:hover,
.storename .phone a:hover span {
  color: #67b8b9 !important;
}
.product-detail-layout-6 .dual-button a,
.product-detail-layout-6 .button-wrapper > a {
  border-radius: 20px;
}

div#Video .fl-slide-bg-video video {
  width: 100%;
  max-width: 100%;
  min-height: 600px;
}

div#Video_Slide_1 .fl-slide-content h2.fl-slide-title {
  width: 100%;
}
div#Video .fl-slide-bg-video video {
  max-height: 600px;
}

body.home
  .uabb-row-separator.uabb-bottom-row-separator.uabb-tilt-left-separator.uabb-has-svg {
  display: none;
}
.main-menu .menu .sub-menu li a.responsive-menu-item-link {
  color: #000;
}
.main-menu .menu .sub-menu li a.responsive-menu-item-link:hover {
  color: #67b8b9 !important;
}
.facetwp-selections ul:before, 
div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #67b8b9 !important;
    color: #67b8b9 !important;
}

.pdpGalleryImagePopup .closePopup>span {
    line-height: 1.6em!important;
}

.facet_wrap button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a {
    border-radius: 30px!important;
    background: #67b8b9!important;
    color: #fff!important;
    font-family: "Raleway", sans-serif!important;
    font-weight: 400;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover {
    border-radius: 30px!important;
    background: rgba(51, 86, 95, 1)!important;
    color: #fff!important;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}
@media (max-width: 1181px) {
  header .uabb-creative-menu .menu a {
    padding: 10px !important;
  }
  header .uabb-photo-content img {
    min-height: 50px !important;
    object-fit: contain;
  }
  .top-bar .fl-rich-text p a {
    font-size: 15px !important;
  }
}
@media (min-width: 992px) {
  .fl-content {
    margin: 0px 0 !important;
  }
}
@media (max-width: 1024px) {
  .hideontablet {
    display: none !important;
  }
  header .responsive-top-bar .fl-icon-text > p {
    display: none !important;
  }
  header .responsive-top-bar .fl-icon-text .storename {
    margin-bottom: 0px !important;
  }
  header
    .responsive-top-bar
    .fl-col-small.fl-visible-desktop.fl-visible-large.fl-visible-medium {
    display: none !important;
  }
  header .responsive-top-bar .fl-icon-wrap {
    width: 100%;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0 10px !important;
  }

  header .responsive-top-bar .phone a span:before {
    content: "\f1f8";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    font-size: 24px;
    margin-right: 10px;
    vertical-align: middle;
  }
  header .responsive-top-bar .fl-icon {
    display: none !important;
  }
  header .responsive-top-bar .fl-icon-wrap .fl-icon-text {
    height: auto !important;
  }
  #rmp_menu_trigger-1131093 {
    top: 65px !important;
  }
  .logo-nav-wrap > .fl-row-content-wrap {
    padding-right: 0px !important;
  }
  .logo-nav-wrap .lastCol {
    width: 60% !important;
  }
}
@media (max-width: 1080px) {
  .main-menu
    .fl-module-content
    .uabb-creative-menu
    .menu
    > li
    > a
    span.menu-item-text,
  .main-menu
    .fl-module-content
    .uabb-creative-menu
    .menu
    > li
    > .uabb-has-submenu-container
    > a
    span.menu-item-text {
    font-size: 10px;
  }
  .menu-header-wrap .uabb-creative-menu.uabb-menu-default .menu > li > a,
  .menu-header-wrap .uabb-creative-menu.uabb-menu-default .menu > li > div > a {
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 13px;
  }

  .fl-page-nav-right.fl-page-header-fixed
    .fl-page-nav-wrap
    .navbar-nav
    > li
    > a,
  .fl-page-header-fixed .fl-page-nav-wrap .navbar-nav > li > a {
    padding: 10px 10px;
  }
  /* .fl-builder .container.fl-content-full .fl-content{
        margin-top: 0px!important;
    } */
  .active-gallery-modal .product-box a.fl-button {
    margin: 0px auto;
  }
}

@media (max-width: 992px) {
  .logo-nav-wrap .uabb-photo-mob-align-center {
    text-align: left !important;
  }
  header .uabb-photo-content img {
    max-width: 200px !important;
  }
  .logo-nav-wrap .uabb-cl-wrap .uabb-cl-ul li {
    text-align: right !important;
    margin-right: 10px !important;
  }
  #rmp_menu_trigger-1131093 {
    top: 70px !important;
    margin-right: 10px !important;
  }
  button#responsive-menu-button {
    top: 70px !important;
  }
  .logo-nav-wrap {
    text-align: center;
  }
  .logo-nav-wrap .lastCol a.fl-button span {
    font-size: 15px !important;
  }
  .logo-nav-wrap .header-logo-wrap-res {
    display: inline-block;
    float: none;
  }
  .fl-slide-1,
  .fl-slide-0 {
    max-height: 650px;
    min-height: 650px !important;
  }
  /* .fl-slide-1 .fl-slide-mobile-photo{
        display: none;
    } */
  .fl-slide-1 .fl-slide-content-wrap,
  .fl-slide-1 .fl-slide-foreground,
  .fl-slide-0 .fl-slide-content-wrap,
  .fl-slide-0 .fl-slide-foreground {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fl-slide-1 .fl-slide-photo-wrap,
  .fl-slide-0 .fl-slide-photo-wrap {
    display: block !important;
  }
  div.fl-module-info-circle
    .uabb-info-circle-small
    .uabb-image
    .uabb-photo-img {
    width: 200px !important;
  }
  div.fl-module-info-circle h3.uabb-info-circle-title,
  .uabb-info-circle-content .uabb-info-circle-desc.uabb-text-editor {
    color: #333333 !important;
  }
  /* .facet_filters{ position: static; width: auto; box-shadow: none;}
   .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
   .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
   #product-list-top-filters .fl-heading,
   .facetwp-counts{ text-align: left !important;}
   button#responsive-menu-button{
    top: 23px!important    
   } */
  .fl-content-slider .fl-slide-bg-photo,
  .fl-content-slider .fl-slide-1 .fl-slide-bg-photo {
    position: absolute !important;
  }
  /* .fl-content-slider .fl-slide-0  .fl-slide-bg-photo{
    position: static !important;
} */
  .uabb-bottom-row-separator.uabb-has-svg svg {
    display: none;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0px !important;
  }
  .bx-wrapper .bx-controls-auto,
  .bx-wrapper .bx-pager {
    bottom: 0 !important;
    background: #dddddd;
    padding: 20px 0;
    line-height: 1;
  }
  div#Video .fl-slide-bg-video video {
    background: #cfcfcd !important;
    min-height: 500px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  #shop-at-home-popup-overlay .uabb-content .uabb-modal-text {
    padding: 20px !important;
  }
  #shop-at-home-popup-overlay .uabb-content {
    padding-top: 20px !important;
  }
  #shop-at-home-popup-overlay .uabb-modal-close > i {
    color: #000 !important;
  }
  button#responsive-menu-button {
    top: 80px !important;
  }
  .header-logo-wrap-res .uabb-photo-content a img {
    max-width: 60%;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-per-page,
  .facetwp-pager {
    float: none;
  }
  .facetwp-per-page,
  .facetwp-pager,
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: center !important;
  }
  .fl-builder-content
    .fl-module-content-slider
    .fl-slide:not(.fl-slide-0)
    .fl-slide-content {
    height: 350px;
  }
}

@media (max-width: 480px) {
  div#Video .fl-slide-bg-video video {
    min-height: 400px;
    background: #cfcfcd !important;
  }
}

@media (max-width: 415px) {
  .product-grid .product-row > div {
    width: 100% !important;
  }
  button#responsive-menu-button {
    top: 90px !important;
  }
  header .fl-col-small:not(.fl-col-small-full-width) {
    max-width: 260px;
  }
}
#header-shop-at-home {
  display: none;
}
.storename .phone a span {
  color: #000;
}

a.responsive-menu-item-link {
  color: #fff;
}

ul.social-icons li {
  margin: 0 10px 0 0;
}
/*Filter Select Design*/

.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #630a0a;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #630a0a;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 16px;
  font-weight: 700;
}

.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}

/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
  /* Slider height issue on mobile open */
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 2;
  }
  /* Slider height issue on mobile closed */

  /* Facet Filter CSS	- iPad */
  .facet_filters .close_bar {
    display: block;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .facetwp-per-page-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .open_sidebar a {
    float: none !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }
  .facet_filters .close_bar .close {
    float: right;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-pager {
    float: none !important;
    margin-top: 10px;
  }
  /* Products List CSS - iPad */
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .product-row > div.col-md-3:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 599px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 48%;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    clear: both !important;
  }
}
/* PLP Page Css iPad Air */
